Repository hashicorp/consul-api-gateway, pull requests merged in 2022-11, with the labels that each got.

#434 Update envoy image to min supported
  internal/k8s/builder/builder.go
  internal/k8s/builder/testdata/clusterip.deployment.golden.yaml
  internal/k8s/builder/testdata/loadbalancer.deployment.golden.yaml
  internal/k8s/builder/testdata/max-instances.deployment.golden.yaml
  internal/k8s/builder/testdata/min-instances.deployment.golden.yaml
  internal/k8s/builder/testdata/multiple-instances.deployment.golden.yaml
  internal/k8s/builder/testdata/static-mapping.deployment.golden.yaml
  internal/k8s/builder/testdata/tls-cert.deployment.golden.yaml
  internal/testing/e2e/service.go
Labels: pr/no-changelog

#446 Add go-discover binary for exec-based discovery
  Dockerfile
  Dockerfile.local
  internal/k8s/builder/gateway.go
  internal/k8s/builder/testdata/clusterip.deployment.golden.yaml
  internal/k8s/builder/testdata/loadbalancer.deployment.golden.yaml
  internal/k8s/builder/testdata/max-instances.deployment.golden.yaml
  internal/k8s/builder/testdata/min-instances.deployment.golden.yaml
  internal/k8s/builder/testdata/multiple-instances.deployment.golden.yaml
  internal/k8s/builder/testdata/static-mapping.deployment.golden.yaml
  internal/k8s/builder/testdata/tls-cert.deployment.golden.yaml
  internal/testing/e2e/consul.go
  internal/testing/e2e/docker.go
Labels: pr/no-changelog

#448 Add forgotten COPY command in default release docker target
  Dockerfile
Labels: pr/no-changelog

#444 Update `./dev/run` for Kubernetes 1.24
  dev/config/helm/consul.yaml
  dev/config/k8s/service-account-secret.yaml
  dev/config/k8s/service-account.yaml
  dev/run
Labels: pr/no-changelog

#454 Add fallback to no gRPC
  .github/workflows/conformance_with_build.yml
  internal/commands/exec/command.go
  internal/commands/exec/command_test.go
  internal/commands/exec/exec_test.go
  internal/commands/server/command.go
  internal/commands/server/server.go
  internal/consul/connection.go
  internal/k8s/builder/gateway.go
  internal/k8s/builder/testdata/clusterip.deployment.golden.yaml
  internal/k8s/builder/testdata/loadbalancer.deployment.golden.yaml
  internal/k8s/builder/testdata/max-instances.deployment.golden.yaml
  internal/k8s/builder/testdata/min-instances.deployment.golden.yaml
  internal/k8s/builder/testdata/multiple-instances.deployment.golden.yaml
  internal/k8s/builder/testdata/static-mapping.deployment.golden.yaml
  internal/k8s/builder/testdata/tls-cert.deployment.golden.yaml
Labels: pr/no-changelog, pr/conformance

#455 ci: update Consul versions
  .github/workflows/ci.yml
  .github/workflows/conformance.yml
  .github/workflows/conformance_with_build.yml
Labels: pr/no-changelog, pr/conformance

#457 Prepare for release of v0.5.0
  CHANGELOG.md
  README.md
  config/deployment/deployment.yaml
  dev/docs/example-setup.md
  dev/docs/supported-features.md
Labels: pr/no-changelog

#459 Add fix for when we need to use the system-wide trusted CAs
  .changelog/459.txt
  internal/commands/exec/command.go
  internal/commands/exec/exec.go
  internal/envoy/manager.go
Labels: pr/conformance, backport/0.5.x

#460 Backport of Add fix for when we need to use the system-wide trusted CAs into release/0.5.x
  .changelog/459.txt
  internal/commands/exec/command.go
  internal/commands/exec/exec.go
  internal/envoy/manager.go
Labels: pr/no-changelog

#461 Prepare for release of v0.5.1
  CHANGELOG.md
  README.md
  internal/k8s/builder/testdata/clusterip.deployment.golden.yaml
  internal/k8s/builder/testdata/loadbalancer.deployment.golden.yaml
  internal/k8s/builder/testdata/static-mapping.deployment.golden.yaml
  internal/k8s/builder/testdata/tls-cert.deployment.golden.yaml
  internal/version/version.go
Labels: pr/no-changelog

#464 Backport of build(deps): bump github.com/hashicorp/consul/api from 1.15.3 to 1.17.0 into release/0.5.x
  go.mod
  go.sum
Labels: pr/no-changelog

#465 Backport of Support routing to Consul services imported from a peer into release/0.5.x
  .changelog/406.txt
  CHANGELOG.md
  config/crd/bases/api-gateway.consul.hashicorp.com_meshservices.yaml
  internal/adapters/consul/sync_test.go
  internal/consul/certmanager_test.go
  internal/consul/connection.go
  internal/consul/intentions_test.go
  internal/consul/mocks/peerings.go
  internal/consul/peerings.go
  internal/consul/registration_test.go
  internal/consul/test_client.go
  internal/k8s/service/resolver.go
  internal/k8s/service/resolver_test.go
  internal/testing/e2e/consul.go
  pkg/apis/v1alpha1/types.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
Labels: pr/no-changelog, pr/conformance

#458 ci: set imageEnvoy flag correctly on v1.0.0+ Consul Helm chart
  .github/workflows/conformance.yml
  .github/workflows/conformance_with_build.yml
Labels: pr/no-changelog, pr/conformance
