Repository hashicorp/consul-api-gateway, pull requests merged in 2022-10, with the labels that each got.

#398 Support method chaining in gateway builders
  internal/k8s/builder/gateway.go
  internal/k8s/builder/gateway_test.go
  internal/k8s/reconciler/deployer.go
Labels: pr/no-changelog

#391 Support distroless (and distroful) Envoy images
  .changelog/391.txt
  .github/workflows/conformance.yml
  .github/workflows/conformance_with_build.yml
  config/rbac/role.yaml
  internal/k8s/builder/builder.go
  internal/k8s/builder/gateway.go
  internal/k8s/builder/testdata/clusterip.deployment.golden.yaml
  internal/k8s/builder/testdata/loadbalancer.deployment.golden.yaml
  internal/k8s/builder/testdata/max-instances.deployment.golden.yaml
  internal/k8s/builder/testdata/min-instances.deployment.golden.yaml
  internal/k8s/builder/testdata/multiple-instances.deployment.golden.yaml
  internal/k8s/builder/testdata/static-mapping.deployment.golden.yaml
  internal/k8s/builder/testdata/tls-cert.deployment.golden.yaml
  internal/k8s/controllers/gateway_controller.go
  internal/k8s/gatewayclient/gatewayclient.go
  internal/k8s/gatewayclient/mocks/gatewayclient.go
  internal/k8s/reconciler/deployer.go
  internal/k8s/reconciler/statuses_test.go
  pkg/apis/v1alpha1/types.go
Labels: pr/conformance

#417 Add tools.go to prevent mod from dropping tool-only dependencies
  go.mod
  go.sum
  internal/tools.go
Labels: pr/no-changelog

#401 deps: update labstack indirect dep for oapi-codegen test server
  go.mod
  go.sum
Labels: pr/no-changelog

#412 Update InvalidCertificateRef error to RefNotPermitted
  .changelog/412.txt
  .github/workflows/ci.yml
  .github/workflows/conformance.yml
  go.mod
  go.sum
  internal/commands/server/k8s_e2e_test.go
  internal/k8s/reconciler/validator/gateway.go
  internal/k8s/reconciler/validator/gateway_test.go
Labels: pr/conformance

#371 Register via TTL check for nodes with no agents
  .changelog/371.txt
  internal/commands/exec/exec.go
Labels: pr/run-conformance

#420 Update gateway-api pin for PR conformance runs
  .github/workflows/conformance_with_build.yml
Labels: pr/no-changelog, pr/conformance

#424 update to Go v1.19
  .changelog/424.txt
  .github/workflows/build.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/conformance.yml
  .github/workflows/conformance_with_build.yml
  .github/workflows/prepare_release.yml
  .release/release-metadata.hcl
  Makefile
  go.mod
  go.sum
  internal/tools.go
Labels: pr/conformance
